.vscode/settings.json
classes/__pycache__/__init__.cpython-39.pyc
classes/__pycache__/firmy.cpython-39.pyc
classes/__pycache__/kurs.cpython-39.pyc
classes/__pycache__/odcinek.cpython-39.pyc
classes/__pycache__/pojazd.cpython-39.pyc
